body {
  height: 530px;
  width: 640px;
  background-color: white
 
}

.custom-breadcrumb-item {
  padding-left: 67px;
}
.get-started-button,
.learn-more-button {
  z-index: 1000; /* Adjust the value as needed */
}

/* Ensure buttons are not affected by pointer-events:none */
.get-started-button,
.learn-more-button {
  pointer-events: auto;
}

/*  */

.image-container{
  left: 20px;
}

