body {
  height: 530px;
  width: 640px;
  background-color: white
 
}

.custom-breadcrumb-item {
  padding-left: 67px;
}
.get-started-button,
.learn-more-button {
  z-index: 1000; /* Adjust the value as needed */
}

/* Ensure buttons are not affected by pointer-events:none */
.get-started-button,
.learn-more-button {
  pointer-events: auto;
}

/*  */

.image-container{
  left: 20px;
}

/* Scroll bar payment */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* feedback */
input,
textarea {
  background-color: transparent;
  /* Other styles... */
}

